html {
    height: 100%;
}

body {
    min-height: 100%;
    color: gray;
}

body.artista {
    background-color: black;
    background-image: url(../img/artistas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    position: relative;
    left: 0;
    margin-left: 260px;
    min-height: 100%;
}