html {
    height: 100%;
}

body {
    min-height: 100%;
    color: gray;
}

body.artista {
    background-color: black;
    background-image: url(../img/artistas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    position: relative;
    left: 0;
    margin-left: 260px;
    min-height: 100%;
}

.bg-success,
.btn-success {
    background-color: #8bc34a!important;
}
.bg-primary,
.btn-primary {
    background-color: crimson!important;
}
.bg-danger,
.btn-danger {
    background-color: #ab47bc!important;
}
.bg-info,
.btn-info {
    background-color: #ffb300!important;
}